<form (ngSubmit)="login()" [formGroup]="formulaireDeConnexion">
  <div *ngIf="formulaireDeConnexion.errors" class="alert alert-danger">
    Le pseudo ou le mot de passe est incorrect.
  </div>
  <!-- champs du pseudo -->
  <div class="form-group">
    <label for="login">Pseudo</label>
    <input formControlName="pseudo"
           type="text"
           name="login"
           id="login"
           class="form-control"
           placeholder="Entrez vôtre pseudo">
    <div *ngIf="pseudo.touched && pseudo.invalid" class="alert alert-danger">
      <div *ngIf="pseudo.errors.required">Vous devez entrer un pseudo.</div>
      <div *ngIf="pseudo.errors.minlength">Vôtre pseudo doit contenir au moins {{ pseudo.errors.minlength.requiredLength}} caractères.</div>
      <div *ngIf="pseudo.errors.nePeutContenirEspace">Vôtre pseudo ne peut contenir d'espace.</div>
    </div>
  </div>
  <!-- champs du password -->
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password"
           type="password"
           name="login"
           id="password"
           class="form-control"
           placeholder="Entrez vôtre mot de passe">
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
      <div *ngIf="password.errors.required">Vous devez saisir un mot de passe.</div>
      <div *ngIf="password.errors.minlength">Vôtre mot de passe doit contenir au moins {{ password.errors.minlength.requiredLength}} caractères.</div>
    </div>
  </div>
  <!-- bouton connexion -->
  <button class="btn btn-primary">Se Connecter</button>
</form>

<!--////////////////////////////////////////////////////////////////////////////-->

<form>
  <div>
    Le pseudo est déjà pris.
  </div>
  <div>
    <label>Pseudo</label>
  </div>
</form>

