/* arrière plan de connexion */
#image1
{
  height:50em;
}
/*style du formulaire*/
#login, #password, #lieu
{
  width: 280px;
  height: 60px;
  border-radius: 20px;
  border: 0px;

  position: relative;
  left: 79px;

  background-color: cadetblue;
  color: black;
}
/* écart entre "mot de passe" et "se connecter" */
#password
{
  margin-bottom: 50px;
}
/* style bouton connexion*/
#connexion-button
{
  width: 280px;
  height: 60px;
  border-radius: 20px;
  border: 0px;

  background-color: rgb(138, 221, 239);
  color: cadetblue;

}
#other
{
  color: cadetblue;
}
/* mediaqueries */
@media screen and (min-width: 350px) and (max-width:519.9px) {

  #login, #password
  {
    left: 10px;
  }
  #connexion-button
  {
    position: relative;
    left: 15px;
  }
}

@media screen and (max-width:349px) {

  #login, #password
  {
    left: -5px;
  }
  #connexion-button
  {
  }
}
