<div class="image" id="image1">
  <div class="row h-100 wrapper">
    <div id="formContent">

      <!-- formulaire de connexion 1er champs -->

      <form>
        <input [formControl]="formArticleNom"
               type="text"
               name="login"
               id="login"
               maxlength="30"
               minlength="4"
               class="form-control"
               placeholder="Nom de l'objet">

        <!-- 2eme champs -->

        <input [formControl]="formArticleCategorie"
               type="password"
               id="password"
               maxlength="255"
               minlength="6"
               name="login"
               class="form-control"
               placeholder="Quelle catégorie ?">

        <!-- 3eme champs -->

        <input [formControl]="formArticleLieu"
                type="text"
                id="lieu"
                maxlength="255"
                minlength="4"
                name="localite"
                class="form-control"
                placeholder="Lieu du don de l'objet">

        <!-- bouton -->

        <button class="btn btn-primary" id="connexion-button">Ajouter</button>
      </form>
      <br>

      <!-- autre choix -->

      <div id="other">
        <a class="underlineHover col-6" [routerLink]="['/connexion']" >S'inscrire</a>
      </div>
    </div>
  </div>
</div>
