/* partie générale */
ul{
  margin: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

  padding: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  list-style-type: none;
}
li{
  margin: 50px;
  box-shadow: 1px 1px 8px 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#articles{
  display: inline;
}

/* partie photos */

.imgarticle {
  float: left;
}
.dim_img{
  padding-left: 200px;
}
.tailleSection{
  margin: 191px 400px 191px 400px;
}
.taille_img{
  width: 300px;
  margin-top: 80px;
  margin-bottom: 80px;
  position: sticky;
}

/* partie description */

p{
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
h1{
  margin-top: 20px;
  font-size: 32px;
  color: rgb(0, 123, 255);
}
.textSection{
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.tailleText{
  margin: 10px 300px 10px 10px;
  font-style: italic;
  text-align: center;
}
.far{
  font-size: xx-large;
}
