<ul >
  <li class="tailleSection">
    <h1>{{articleDetails?.nomArticle}}</h1>
    <div class="imgarticle" >
      <img class="taille_img" [src]="articleDetails?.photo?.urlPhoto" alt="photoArticle">
    </div>
    <p>Situé à {{articleDetails?.lieuArticle}}</p>
    <p>Quantité : {{articleDetails?.quantiteArticle}}</p>
    <p>Etat : {{articleDetails?.etatArticle}}</p>
    <p>Déposé le : {{articleDetails?.dateDepot}}</p>
    <p *ngIf="jwt.isLogged()">Contact : {{articleDetails?.user?.mail}}</p>
    <section *ngIf="user">
      <i *ngIf="articleDetails?.user?.id == user"
         (click)="supprimerArticle()" class="far fa-trash-alt"></i>
    </section>
  </li>
</ul>
