  <!-- navbar  -->

  <div class="head">
    <ul>
      <div>
        <img src="../assets/logo.png" class="logo" alt="logo" />
      </div>

      <li>
        <a class="nav-link active" id="donner" [routerLink]="['/don-objets']">
          Donner un Objet
        </a>
      </li>

      <li>
        <a class="nav-link active" id="connecter">
          Se Connecter
        </a>
      </li>

      <li>
        <a class="nav-link active" id="faq">
          F A Q
        </a>
      </li>

    </ul>
  </div>

