/* header */

.logo {
  position: absolute;
  width: 420px;
  height: 184px;
  left: 0px;
  top: 0px;
}
.head{
  height: 184px;
}
/* Donner */
#donner{
  position: absolute;
  width: 228px;
  height: 43px;
  left: 606px;
  top: 85px;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #F90000;

  border: 1px solid #FFFFFF;
}
/* Se Connecter */
#connecter{
  position: absolute;
  width: 228px;
  height: 43px;
  left: 1035px;
  top: 85px;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #000000;

  border: 1px solid #FFFFFF;
}
/* faq */
#faq{
  position: absolute;
  width: 228px;
  height: 43px;
  left: 1221px;
  top: 85px;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #000000;

  border: 1px solid #FFFFFF;
}

