/* header */

.logo {
  position: sticky;
  left: 0px;
  top: 0px;

}

.head{
  height: 184px;
  border: 2px solid black;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;
}
li{
  position: sticky;
  padding: 20px 20px 20px 20px;
  border: 1px solid black;
}

#donner{
  position: sticky;
  height: 43px;
  left: 606px;
  top: 85px;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: initial;

  color: #F90000;

}

#connecter{
  position: sticky;

  height: 43px;
  left: 1035px;
  top: 85px;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #000000;

}

#faq{
  position: sticky;

  height: 43px;
  left: 1221px;
  top: 85px;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: end;

  color: #000000;

}

