nav{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

nav ul{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav ul li{
  list-style: none;
}

nav ul li button{
  list-style: none;
  font-family: Verdana;
  font-style: italic;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  background-color: white;
  position: sticky;
  height: 80px;
  left: 606px;
  top: 85px;
  box-shadow: 1px 1px 8px 1px black;
  border-radius: 15px;
}

#donner{
  font-weight: normal;
  line-height: 35px;
  text-align: initial;

  color: #F90000;
}
/* header

.logo {
  position: sticky;
  left: 0px;
  top: 0px;
}

.head{
  height: 184px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;
  list-style-type: none;
}
li{
  position: sticky;
  padding: 20px 20px 20px 20px;
  box-shadow: 1px 1px 8px 1px black;
  border-radius: 20px;
  height: 80px;
  margin: 30px;

}

#donner{
  position: sticky;
  height: 80px;
  left: 606px;
  top: 85px;
  box-shadow: 1px 1px 8px 1px black;
  border-radius: 20px;

  font-family: Verdana;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: initial;

  color: #F90000;
}

.connecter{
  position: sticky;
  cursor: pointer;

  height: 80px;
  left: 1035px;
  top: 85px;
  box-shadow: 1px 1px 8px 1px black;
  border-radius: 20px;

  font-family: Verdana;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #000000;

}

#faq{
  position: sticky;

  height: 80px;
  left: 1221px;
  top: 85px;
  box-shadow: 1px 1px 8px 1px black;
  border-radius: 20px;

  font-family: Verdana;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: end;

  color: #000000;

}
*/
