/* première image de la page d'accueil */


/* Titre */
#titrePageAccueil
{
  font-style: italic;
}

.liste{
  text-align: center;
  font-family: sans-serif;
  font-size: 300%;
  color: #F90000;
}

.article{
  color: #0bc5ef;
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  text-align: center;
}

#articles{
  border: 1px solid black;
}

p{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text{
  margin-left: 0px;
}




