<!-- Affichage des articles -->
<div>
  <div>
    <ul id="articles" *ngFor="let article of articleDetail" >
      <li>
<!--        <div>-->
<!--          <div>-->
<!--            <div>-->
<!--              <span>(envoiCategorie)="envoiCategorie($event)"-->
<!--                <svg>[afficherCategorie]="afficherArticle()"</svg>-->
<!--              </span>-->
<!--            </div (click)="afficherUnArticle()">-->
<!--          </div>-->
<!--        </div>-->
        <a [routerLink]="['/article-details']" class="dim_img" (click)="afficherUnArticle()">
          <div>
            <span>
              <div class="imgarticle" *ngFor="let photo of photoDetail" >
                <img class="taille_img" *ngIf="article.id == photo.article.id " [src]="photo.urlPhoto">
              </div>
            </span>
<!--            <span>-->
<!--              <span name="camera">-->
<!--                <svg>-->
<!--                  <path d="un truc"></path>-->
<!--                </svg>-->
<!--              </span>-->
<!--            </span>-->
          </div>
          <section class="textSection" >
            <div>
              <p class="tailleText">{{ article.nomArticle }}</p>
            </div>
            <div>
              <p>{{ article.etatArticle }}</p>
              <p>{{ article.ville["nomVille"] }}</p>
              <p>{{ article.user["pseudo"] }}</p>
              <p>{{ article.dateDepot }}</p>
            </div>
          </section>
        </a>
      </li>
    </ul>
  </div>
</div>
