<div class="search">
  <div class="filter">
    <div>
      <label id="category" class="category">Que recherchez-vous ?
      <select id="category-select" class="category">
        <option>-- Catégories --</option>
        <option *ngFor="let categorie of categories">{{ categorie.typeCategorie }}</option>
      </select>
      </label>
    </div>
    <div>
      <label id="lieu">Dans quelle ville ?
      <select>
        <option>-- Localités --</option>
        <option *ngFor="let ville of villes">{{ ville.nomVille }}</option>
      </select>
      </label>
    </div>
  </div>
</div>

