.search{
  border: 1px solid black;
  height: 144px;
}

#category, #lieu
{
  width: 280px;
  height: 60px;
  border-radius: 20px;
  border: 1px solid black;

  font-family: Roboto;
  font-size: 124%;
  text-align: center;
  position: sticky;
  left: 79px;

}

.filter{
  position: sticky;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.category{
  position: sticky;
}
