<form class="article-container" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <!-- Partie description de l'article -->
  <div class="articleText-container" id="formContent">
    <h1>Caractéristiques de l'article</h1>
    <div id="formText">
      <div ngModelGroup="article" #article="ngModelGroup">
        <div id="alert" *ngIf="article.invalid">(Veuillez remplir tous les champs ci-dessous)</div>
        <!-- Champs de la saisie du nom de l'article -->
        <div class="group">
          <label for="nomArticle">Nom de l'article</label>
          <input required pattern="^[a-zA-Z\u00C0-\u017F-_ ]*" [(ngModel)]="newProduit.nomArticle" name="nomArticle"
                 #nomArticle="ngModel"
                 (change)="saisie(nomArticle)"
                 type="text" id="nomArticle" class="nomArticle">
          <div class="alert alert-danger" *ngIf="nomArticle.touched && !nomArticle.valid">
            <div *ngIf="nomArticle.errors.required">Un nom d'article est requis</div>
            <div *ngIf="nomArticle.errors.pattern">Caractères spéciaux non autorisés</div>
          </div>
        </div>
        <!-- Champs de la saisie de l'état de l'article -->
        <div class="group">
          <label for="state">Etat </label>
          <input required pattern="^[a-zA-Z\u00C0-\u017F-_ ]*" [(ngModel)]="newProduit.etatArticle" name="state"
                 #state="ngModel"
                 (change)="saisie(state)"
                 type="text" id="state" class="state">
          <div class="alert alert-danger" *ngIf="state.touched && !state.valid">
            <div *ngIf="state.errors.required">Un état de l'article est requis</div>
            <div *ngIf="state.errors.pattern">Caractères spéciaux non autorisés</div>
          </div>
        </div>
        <!-- Champs de la saisie de la quantité de l'article -->
        <div class="group">
          <label for="quantity">Quantité </label>
          <input required [(ngModel)]="newProduit.quantiteArticle" name="quantity"
                 #quantity="ngModel"
                 (change)="saisie(quantity)"
                 type="text" id="quantity" class="quantity">
          <div class="alert alert-danger" *ngIf="quantity.touched && !quantity.valid">
            <div *ngIf="quantity.errors.required">Une quantité est requise</div>
            <div *ngIf="quantity.errors.valeurNonNull">La quantité ne peut pas être nulle</div>
          </div>
        </div>
        <!-- Champs de la saisie du lieu de l'article -->
        <div class="group">
          <label for="town">Ville </label>
          <input required pattern="^[a-zA-Z\u00C0-\u017F-_ ]*" [(ngModel)]="newProduit.lieuArticle" name="town"
                 #town="ngModel"
                 (change)="saisie(town)"
                 type="text" id="town" class="town">
          <div class="alert alert-danger" *ngIf="town.touched && !town.valid">
            <div *ngIf="town.errors.required">Une localisation est requise</div>
            <div *ngIf="town.errors.pattern">Caractères spéciaux non autorisés</div>
          </div>
        </div>
        <!-- Champs de la sélection de la catégorie de l'article -->
        <div class="group">
          <label for="category" class="positionTitre">Catégorie </label>
          <select required [(ngModel)]="newProduit.categorie" name="category"
                  #category="ngModel"
                  (change)="saisie(category)"
                  id="category" class="category">
            <option value=""></option>
            <option *ngFor="let categorie of categories"
                    [ngValue]="categorie"
                    >{{categorie.typeCategorie}}</option>
          </select>
          <div class="alert alert-danger"
               *ngIf="category.touched && !category.valid">Une catégorie est requise
          </div>
        </div>
        <!-- Champs de la saisie de l'url de la photo -->
        <div class="group">
          <label for="photo">Url photo </label>
          <input required [(ngModel)]="newProduit.photo" name="photo"
                 #photo="ngModel"
                 (change)="saisie(photo)"
                 type="text" id="photo" class="photo">
          <div class="alert alert-danger" *ngIf="photo.touched && !photo.valid">
            <div *ngIf="photo.errors.required">Ce champs ne peut être vide</div>
            <div *ngIf="photo.errors.pattern">Caractères spéciaux non autorisés</div>
          </div>
          <div>
            <h2><a href="https://www.zupimages.net/" target="_blank">Hébergez vos images</a></h2>
          </div>
        </div>
        <!-- Bouton submit de l'ensemble de l'article-->
        <button class="saved" type="submit" [disabled]="f.invalid" >Publier</button>
      </div>
    </div>
  </div>
</form>

